<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255190027777-dvfm5d48kbuk3jvcdu0871q99fb83d8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255190027777-dvfm5d48kbuk3jvcdu0871q99fb83d8t</string>
	<key>API_KEY</key>
	<string>AIzaSyCtmGkB0IDGk1eZoTlUplajh2CcMzW0sQg</string>
	<key>GCM_SENDER_ID</key>
	<string>255190027777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ios-CW</string>
	<key>PROJECT_ID</key>
	<string>ioscwnibm</string>
	<key>STORAGE_BUCKET</key>
	<string>ioscwnibm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255190027777:ios:e792b6aae042f4b0adba00</string>
</dict>
</plist>